
*{
    margin: 0;
    padding: 0;
}

/* ------------------- */
/* Artikel */
/* ------------------- */

#artikel a {
    display: inline-block;
    background-color: #F94C10;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    float: right;
    margin: 15px;
    overflow: hidden;
}

#artikel a:hover {
    background-color: #f94a10ad;
}
/* ------------------------- */
/* Responsive */
/* ------------------------- */
@media (max-width: 1024px) {
    .post-artikel{
        float: left;
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .post-berita{
        margin: 0;
        float: left;
        width: 100%;
    } 
    .post-berita header{
        margin: 20px;
    }
    .post-berita{
        border: none;
    }
    .sosial-icon .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sosial-icon .container .sosiall-1 a,
    .sosial-icon .container .sosiall-2 a{
    font-size: 20px;
    color: #37517e;
    }
    .sosial-icon .container .sosiall-1 a:hover,
    .sosial-icon .container .sosiall-2 a:hover{
    color: #F94C10;
    }
    .sosial-icon .container .header {
    flex-basis: 0;
    }
    .sosial-icon .container .header h2{
    font-size: 30px;
    }

}

/* -------------------------- */
/* sosial */
/* -------------------------- */
.sosial-icon .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.sosial-icon .container .sosiall-1 a,
.sosial-icon .container .sosiall-2 a{
color: #37517e;
}
.sosial-icon .container .sosiall-1 a:hover,
.sosial-icon .container .sosiall-2 a:hover{
color: #F94C10;
}
.sosial-icon{ 
    transition: transform 0.3s ease-in-out;
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
}

.sosial-icon .header h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}
.sosial-icon .header{
    flex-basis: 600px;
}

.sosial-icon .sosiall-1 a,
.sosial-icon .sosiall-2 a{
    font-size: 30px;

}
.sosial-icon .sosiall-1 p,
.sosial-icon .sosiall-2 p{
    text-align: center;
}

.sosial-icon .sosiall .wa:hover p,
.sosial-icon .sosiall .yt:hover p,
.sosial-icon .sosiall .fb:hover p,
.sosial-icon .sosiall .insta:hover p{
    color: #64CCC5;
}
.sosial-icon .sosiall .wa:hover a,
.sosial-icon .sosiall .yt:hover a,
.sosial-icon .sosiall .fb:hover a,
.sosial-icon .sosiall .insta:hover a{
    color: #64CCC5;
}
.sosial-icon .sosiall-1,
.sosial-icon .sosiall-2{
    padding: 15px;
}

.sosial-icon .sosiall .wa,
.sosial-icon .sosiall .fb,
.sosial-icon .sosiall .yt,
.sosial-icon .sosiall .insta{
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

/* Tombol back beranda */
#tombol-kembali {
    display: inline-block;
    padding: 10px 20px;
    background-color: #47b2e4;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 100px;
  }
  
#tombol-kembali:hover {
    background-color: #0056b3;
  }

@media (max-width: 1024px){
    #tombol-kembali{
        margin-bottom: 10px;
        margin-left: 0;
    }
    #visi-misi .container .vismis{
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    #hero .elemen {
        display: grid;
        grid-template-columns: repeat(3fr);
        gap: 20px;
    }
    #hero .elemen button{
        margin: 0;
    }
}
  
.detail-img{
    width: 50%;
    margin: 10px auto;
}

#visi-misi .vismis{
    text-align: center;
    display: flex;
    justify-content: space-between;     
}
#visi-misi .vismis p{
    margin: 20px;
    text-align: justify;
}
#visi-misi .vismis ul{
    text-align: justify;
}
#visi-misi .vismis .visi{
    flex-basis: 50%;
}
#visi-misi .vismis .misi{
    flex-basis: 50%;
}
#visi-misi .vismis .misi ul{
    list-style: none;
}
#hero .elemen{
    display: flex;
    margin-bottom: 18px;
    font-weight: 700;
    margin-left:48%;
    gap: 10px;
}
#hero .elemen button{
    font-weight: 700;
}

/* overly */
.overlay {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}.overlay{

	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
	
}

.overlay h1 {
	font-size: 80px;
	margin-bottom: 30px;
}

.overlay h3, p {
	margin-bottom: 30px;
}
.overlay p{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.overlay button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
.overlay button:hover{
	cursor: pointer;
}





/* footer section start */
#footer-sec {
    background: #ffffff;
}
  .logo-footer {
    max-width: 100%;
  }

  .social-links h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .social-links img {
    padding-bottom: 25px;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #777777;
  }
  .social-icons a {
    color: #777777;
  }
  .social-icons a:hover {
    color: #F94C10;
  }
  .social-icons a i {
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px; */
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #F94C10;
    font-size: 16px;
    margin-right: 12px;
  }
  li {
    list-style: none;
  }
  .useful-link h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .useful-link img {
    padding-bottom: 15px;
  }
  .use-links {
    line-height: 32px;
  }
  .use-links li i {
    font-size: 14px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: #898989;
  }
  .use-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
  }
  .use-links li a:hover {
    color: #F94C10;
  }
  .address h2 {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  .address img {
    padding-bottom: 15px;
  }
  .address-links li a {
    color: #303030;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
  }
  .address-links li i {
    font-size: 16px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: #F94C10;
  }
  .address-links li i:nth-child(1) {
    padding-top: 9px;
  }
  .address-links .address1 {
    font-weight: 500;
    font-size: 15px;
    display: flex;
  }
  .address-links {
    line-height: 32px;
    color: #777777;
  }
  
  .copyright {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: absolute;
  }
  
  
.copyright-text {
    position: absolute;
    bottom: 0;
    top: 50px; /* Sesuaikan dengan posisi vertikal teks */
    left: 0;
    right: 0;
    font-size: 18px;
    color: #ffffff;
    text-align:center;
}
  /* footer section end */
  

/* -------------------- */
/* Team  */
/* ----------------------- */
.team {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: center;
  }
.team .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 1em;
    background: #cdcbcb;
    box-shadow: 0 15px 35px #f94a104c;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px #f94a104c;
  }
.team .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
  }
.team .card .content .img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #f94a10b2;
  }
.team .card .content .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.team .card .content .cardContent h3 {
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
  }
.team .card .content .cardContent h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
.team .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
.team .card .sci li {
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
.team .card .sci li a {
    font-size: 24px;
  }
.team .card:hover .content {
    opacity: 0.5;
    transform: translateY(-20px);
  }


/* ----------------------------- */
/* K-Learn */
/* ----------------------------- */

.k-learn {
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  color: var(--color);
  background: var(--bgColor);
}


.k-learn ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: stepnr;
}

.k-learn li:nth-child(6n + 1) {
  --accent-color: #b8df4e;
}
.k-learn li:nth-child(6n + 2) {
  --accent-color: #4cbccb;
}
.k-learn li:nth-child(6n + 3) {
  --accent-color: #7197d3;
}
.k-learn li:nth-child(6n + 4) {
  --accent-color: #ae78cb;
}

.k-learn ol li {
  counter-increment: stepnr;
  width: 18rem;
  --borderS: 2rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
}
.k-learn ol li::before,
.k-learn ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
.k-learn ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

.k-learn ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

.k-learn ol li > * {
  width: 7.5rem;
}
.k-learn ol li .icon {
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}
.k-learn ol li .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.k-learn ol li .descr {
  font-size: 2rem;
  font-weight: 500;
}


/* -------------------- */
/* Profile */
/* ----------------------- */
.page-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.page-header img {
  max-width: 100%;
  height: auto;
}
.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
  z-index: 9999;
  background-color: #900C3F;
}

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header button {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 10px;
  background: #fff;
  transition: background 0.3s;
}
.page-header button a{
  color: #000;
}
.page-header button svg {
  flex-shrink: 0;
  margin-left: 5px;
  fill: currentColor;
}

.page-header button a:hover {
  color: #F94C10;
}

.page-header.is-sticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

.page-header.is-sticky img {
  max-width: 80%;
}

.page-header.is-sticky button {
  font-size: 14px;
  padding: 7px 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#sekilas .img-hero{
  width: 100%;
  height: 450px;
}
@media (max-width:1023px){
  #sekilas .img-hero{
    width: 100%;
    height: 250px;
  }
}

/* ------------------------------- */
/* akreditas */
/* --------------------------------- */
section.sunset .button {
  background: linear-gradient(25deg, #F94C10, #900C3F);
}
section.sunset .button.inverse {
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(25deg, #F94C10, #900C3F);
}
/* .sunset .container{
  display: flex;
  justify-content: space-between;
} */
.sunset .container .button{
  width: 100%;
  text-align: center;
}
@media  (max-width:1024px){
  .sunset .container{
    display: grid;
    grid-template-columns: repeat(1fr);
  }
}
.sunset .button {
  cursor:text;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 1.3em 1.5em;
  margin: 15px;
  border-radius: 0.3em;
  -webkit-transition: all 200ms linear;
}
.sunset .button:hover {
  padding: 1.3em 2.1em;
  -webkit-transition: all 200ms linear;
}
.sunset .button.inverse {
  font-weight: bold;
  padding: 1.15em 1.5em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 0.25em;
  border-style: solid;
  border-image-source: linear-gradient(45deg, #fff, #fff);
  border-image-slice: 30%;
  border-image-width: 1;
  border-image-repeat: stretch;
}
.sunset .button.inverse:hover {
  border-image-slice: 3%;
  padding: 1.15em 2.1em;
}


/* ------------------------------------ */
/* alert/pengumuman */
/* ------------------------------------- */
.alert .container table{
  width: 100%;
}
.alert .table-pengumuman{
  margin-bottom: 50px;
}
.alert .table-pengumuman tr th{
  background-color: #a2c6ee;
  padding: 10px;
  border: 1px solid black;
}
.alert .table-pengumuman tr td{
  background-color: #e8e8e9;
  padding: 10px;
  border: 1px solid black;
}


/* ------------------ */
/* detile page  */
/* --------------------- */
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}



.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover{
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
}
